*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(233, 227, 145);
    --accent-color: rgb(20, 194, 185);
    --neutral-color: rgb(250, 253, 208);

    --text-color-1: rgb(20, 194, 185);
    --text-color-2: black;
    --text-color-3: white;

    --fs-1: 20px;
    --fs-2: 15px;

}

.background{
    font-family: arial;
}

.thumbnail{
    border: 2px solid var(--accent-color);
    padding: 5px;
}

/*Index (Home) HTML*/

.logo-container{
    position: relative;
    margin: auto;
    width: 70%;
    color: var(--text-color-1);
}

.logo-left{

}

.logo-right{

}



.logo{
    margin-bottom: 20px;
}



.picture{
    border-radius: 50%;
}



.logo-h1{

}

.logo-h2{

}

.navbar{
    position: relative;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    background-color: var(--neutral-color);
    margin-bottom: 20px;
    font-size: 14px;
}


.h-link{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 5px 5px 5px 5px;
    color: var(--text-color-3);
    text-decoration: none;
    font-weight: bold;
    margin: 10px 5px 10px 5px;
}



.sp-link{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 5px 5px 5px 5px;
    color: var(--text-color-3);
    text-decoration: none;
    font-weight: bold;
    margin: 10px 5px 10px 5px;
}



.pg-link{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 5px 5px 5px 5px;
    color: var(--text-color-3);
    text-decoration: none;
    font-weight: bold;
    margin: 10px 5px 10px 5px;
}



.cu-link{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 5px 5px 5px 5px;
    color: var(--text-color-3);
    text-decoration: none;
    font-weight: bold;
    margin: 10px 5px 10px 5px;
}



.al-container{
    position: relative;
    margin: auto;
    width: 70%;
}

.about-container{

}

.about{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 160px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--text-color-3);
    font: bold;
    margin-bottom: 20px;
}

.about-p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: ;
    width: ;
    padding: 20px;
    border-radius: 50px 50px 0px 50px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    color: var(--text-color-2);
    font-size: 15px;
    line-height: 1.4;
}

.looking-container{

}

.looking{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 160px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--text-color-3);
    font: bold;
    margin-bottom: 20px;
}

.looking-p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: ;
    width: ;
    padding: 20px;
    border-radius: 50px 50px 0px 50px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    color: var(--text-color-2);
    font-size: 15px;
    line-height: 1.4;
}

.why-container{
    position: relative;
    margin: auto;
    width: 70%;
}

.why{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 160px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--text-color-3);
    font: bold;
    font-size: smaller;
    margin-bottom: 20px;
}

.why-p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: ;
    width: ;
    padding: 20px;
    border-radius: 50px 50px 0px 50px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    color: var(--text-color-2);
    font-size: 15px;
    line-height: 1.4;
}

.location-container{
    position: relative;
    margin: auto;
    width: 70%;
}

.location{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 160px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--text-color-3);
    font: bold;
    margin-bottom: 20px;
}

.location-image{
    height: 300px;
    width: 500px;
    background-color: var(--primary-color);
    padding: 15px;
    border: thick solid var(--neutral-color);
}

/*Services & Prices HTML*/

.sp-container{

}

.services-container{

}

.services{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 160px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--text-color-3);
    font: bold;
    margin-bottom: 20px;
}

.services-p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: ;
    width: ;
    padding: 20px;
    border-radius: 50px 50px 0px 50px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    color: var(--text-color-2);
    font-size: 15px;
    line-height: 1.4;
}

.pricing-container{

}

.pricing{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 160px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--text-color-3);
    font: bold;
    margin-bottom: 20px;
}

.pricing-p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: ;
    width: ;
    padding: 20px;
    border-radius: 50px 50px 0px 50px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    color: var(--text-color-2);
    font-size: 15px;
    line-height: 1.4;
}

/*Photo Gallery HTML*/

.photo-container{

}

.photo{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 160px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--text-color-3);
    font: bold;
    margin-bottom: 20px;
}

.images{
    background-color: var(--primary-color);
}

.i1{

}

.i2{

}

.i3{

}

.i4{

}

.i5{

}

.i6{

}

/*Contact Us HTML*/

.ac-container{

}

.am-container{

}

.am{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 160px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--text-color-3);
    font: bold;
    margin-bottom: 20px;
}

.am-p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: ;
    width: ;
    padding: 20px;
    border-radius: 50px 50px 0px 50px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    color: var(--text-color-2);
    font-size: 15px;
    line-height: 1.4;
}

.contact-container{

}

.contact{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 160px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--text-color-3);
    font: bold;
    margin-bottom: 20px;
}

.contact-p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: ;
    width: ;
    padding: 20px;
    border-radius: 50px 50px 0px 50px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    color: var(--text-color-2);
    font-size: 15px;
    line-height: 1.4;
}

@media screen and (min-width: 1000px) {
    .logo-container {
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .logo-left {
        display: flex;
        justify-content: flex-start;
    }

    .logo-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-right: 200px;
        margin-left: 20px;
    }

    .logo {
        transform: rotate(-20deg);
        margin-bottom: 100px;
        margin: 25px;
    }

    .picture {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .navbar {
        position: static;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 75px;
        border-radius: 0 30px 0 30px;
        margin: 5px 20px 5px 20px;
        font-size: 20px;
    }

    .h-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0 30px 0 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .sp-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0 30px 0 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .pg-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0 30px 0 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .cu-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0 30px 0 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
